@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    color: white;
}

header {
    color: rgb(212, 194, 194);
}

p {
    color: burlywood;
}

footer {
    color: yellow;
}

a {
    color: rgb(255, 255, 255);
}

.titulo-blog {
    color: rgb(247, 247, 247);
}

.classe-manipuladaTeste {
    color: rgb(136, 176, 223);
    text-shadow: 0.1em 0.1em 0.9em;
}

.destaque_rgb {
    color: rgb(136, 176, 223);
    text-shadow: 0.1em 0.1em 0.9em;
}

.apresentacao {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 25px;
    font-family: Krona One;
}

.apresentacao__conteudo__paragrafo {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: white;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
}

.apresentacao_links_link {
    background-color: #22d4fd;
    width: 200px;
    text-align: center;
    border-radius: 16px;
    font-weight: 600;
    font-size: 24;
    padding: 20px 0px;
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
}

.conteudo_img {
    height: 450px;
}